// The browser font size default. No need to change this.
$browser-font-size:        16px;

// The base font size will be used for most calculations involving font-size.
// Allowed units: px or pt
$base-font-size:           16px !default;

// The base line height will be used for most calculations involving height.
// Allowed units: Must be the same as $base-line-height
$base-line-height:         21px !default;

// Allowed units: px, pt, em or rem.
$base-unit:                rem !default;

// Default font sizes
// Once you redefine the $font-size map it will overwrite all sizes here.
// Allowed units: Must be the same as $base-line-height
$font-size: (
  xxxl:                    60px,
  xxl:                     46px,
  xl:                      32px,
  l:                       24px,
  m:                       16px,
  s:                       14px,
  xs:                      12px
) !default;

// Default font weights
// This map and accompanying function help provide granular control over
// setting and retrieving static font weights.
$font-weight: (
  bold:                    700,
  normal:                  400,
  lighter:                 200
) !default;

// Warnings for $base-unit.
@if $base-unit != px and $base-unit != pt and $base-unit != rem and $base-unit != em {
  @error "$base-unit must be one of the following unit types: px, pt, rem, em";
}

// Warnings for $base-font-size and $base-line-height.
@if unit($base-font-size) != px and unit($base-font-size) != pt {
  @error "$base-font-size must be one of the following unit types: px, pt";
}
@if unit($base-line-height) != unit($base-font-size) {
  @error "$base-line-height must use the same unit as $base-font-size.";
}

// Warnings for $font-size
@each $key, $size in $font-size {
  @if unit($size) != unit($base-font-size) {
    @error "Size '#{$key}' in $font-size map does not match the $base-font-size unit.";
  }
}

// Define defaults (in the HTML element).
//
// @param number $base-font-size
//   (optional) Use to set to anything other than the base value.
//   Allowed units: px or pt
// @param number $base-line-height
//   (optional) Use to set to anything other than the base value.
//   Allowed units: px or pt
@mixin define-type-sizing($base-font-size: $base-font-size, $base-line-height: $base-line-height) {
  @if $base-unit == rem {
    font-size: $base-font-size / $browser-font-size * 100%;
    line-height: $base-line-height;
    line-height: output-unit($base-line-height / $base-font-size);
  }
  @if $base-unit == px or $base-unit == pt {
    font-size: $base-font-size;
    line-height: $base-line-height;
  }
  @if $base-unit == em {
    font-size: $base-font-size / $browser-font-size * 100%;
    line-height: output-unit($base-line-height / $base-font-size);
  }
}
