// Takes a sizing from the $font-size map (m, xl, xxl, etc) and convert it to
// the base unit. Alternatively convert a px/pt font-size into the base unit.
//
// @param number|string $size
//   A size from the $font-size map or px/pt value to be converted
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the parent
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in the same unit as the $font-size map.
//
// @return number
//   The selected font-size in $base-unit.
@function font-size($size, $context: $base-font-size) {
  @if type-of($size) == 'string' {
    @return output-from-font-size-map($size, $context);
  }
  @if type-of($size) == 'number' and not unitless($size) {
    @if unit($size) == unit($base-font-size) {
      @return convert-unit($size, $context);
    }
    @else {
      @error "font-size() only accepts values with the same unit as $base-font-size.";
    }
  }
  @else {
    @error "font-size() only accepts keys from the font map or values in px or pt.";
  }
}

// Define font-size (with fallback)
//
// @param number|string $size
//   A size from the $font-size map or px/pt value to be converted
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in the same unit as the $font-size map.
@mixin font-size($size, $context: $base-font-size) {
  @if $base-unit == rem {
    @if $rem-fallback == true {
      @if type-of($size) == 'string' {
        $map-size: map-get($font-size, $size);
        font-size: $map-size;
      }
      @if type-of($size) == 'number' and not unitless($size) {
        @if unit($size) == unit($base-font-size) {
          font-size: $size;
        }
        @else {
          @error "font-size() only accepts values with the same unit as $base-font-size.";
        }
      }
    }
  }
  font-size: font-size($size, $context);
}
