// Takes a sizing from the $font-size map (m, xl, xxl, etc) and convert it to 
// the base unit.
//
// @param string $size
//   A size from the $font-size map.
// @param number $context
//   (optional) Only used if em is the $base-unit. The value of the parent 
//   font-size if differs from $base-font-size. Must be the same unit as used in the map.
//
// @return number
//   The selected font-size in $base-unit.
@function font-size($size, $context: $base-font-size) {
  @if type-of($size) == 'string' {
    $map-size: map-get($font-size, $size);
    @if $base-unit == px or $base-unit == pt {
      @return strip-unit($map-size) + $base-unit;
    }
    @if $base-unit == rem {
      @return ($map-size / $base-font-size) + $base-unit;
    }
    @if $base-unit == em {
      @return ($map-size / $context) + $base-unit;
    }
  }
}

// Define font-size (with fallback).
// This is only necessary to use if you want to provide fallbacks when you are
// using rem as $base-unit.
//
// @param string $size
//   A size from the $font-size map.
// @param number $context
//   (optional) Only used if em is the $base-unit. The value of the parent 
//   font-size if differs from $base-font-size. Must be the same unit as used in the map.
@mixin font-size($size, $context: $base-font-size) {
  $map-size: map-get($font-size, $size);
  @if $base-unit == rem {
    font-size: $map-size;
  }
  font-size: font-size($size, $context);
}