// Generate a value to be used as padding from either:
//   a) a multiple of $base-line-height
//   b) a static px or pt value
//
// Example usage with multiple:
//   padding: padding(2);
// Example usage with static value:
//   padding: padding(18px);
//
// @param number $x
//   Multiple of line height to be used or px/pt value to be converted.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in the same unit as the $font-size map.
//
// @return number
//   The calculated height in $base-unit.
@function padding($x, $context: $base-font-size) {
  @return line-height($x, $context);
}

// Define padding (with fallback).
// This is only necessary to use if you want to provide fallbacks when you are
// using rem as $base-unit.
//
// @param number|list $x
//   Multiple of line height to be used or px/pt value to be converted.
//   Uses the same parameters as the CSS padding property:
//   i.e. top right bottom left, 1 0 2 0.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in the same unit as the $font-size map.
@mixin padding($list, $context: $base-font-size) {
  $px-list: ();
  $converted-list: ();
  @each $x in $list {
    @if $base-unit == rem {
      @if type-of($x) == 'number' and unitless($x) {
        $padding: $x * $base-line-height;
        $px-list: join($px-list, $padding, $separator: space);
      }
      @if type-of($x) == 'number' and not unitless($x) {
        $px-list: join($px-list, $x, $separator: space);
      }
    }
    $padding: line-height($x, $context);
    $converted-list: join($converted-list, $padding, $separator: space);
  }
  @if $base-unit == rem {
    @if $rem-fallback == true {
      padding: $px-list;
    }
  }
  padding: $converted-list;
}

// Define padding-top (with fallback).
// This is only necessary to use if you want to provide fallbacks when you are
// using rem as $base-unit.
//
// @param number $x
//   Multiple of line height to be used or px/pt value to be converted.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in the same unit as the $font-size map.
@mixin padding-top($x, $context: $base-font-size) {
  @if $base-unit == rem {
    @if $rem-fallback == true {
      @if type-of($x) == 'number' and unitless($x) {
        padding-top: $x * $base-line-height;
      }
      @if type-of($x) == 'number' and not unitless($x) {
        padding-top: $x;
      }
    }
  }
  padding-top: line-height($x, $context);
}

// Define padding-bottom (with fallback).
// This is only necessary to use if you want to provide fallbacks when you are
// using rem as $base-unit.
//
// @param number $x
//   Multiple of line height to be used or px/pt value to be converted.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in the same unit as the $font-size map.
@mixin padding-bottom($x, $context: $base-font-size) {
  @if $base-unit == rem {
    @if $rem-fallback == true {
      @if type-of($x) == 'number' and unitless($x) {
        padding-bottom: $x * $base-line-height;
      }
      @if type-of($x) == 'number' and not unitless($x) {
        padding-bottom: $x;
      }
    }
  }
  padding-bottom: line-height($x, $context);
}

// Define padding-left (with fallback).
// This is only necessary to use if you want to provide fallbacks when you are
// using rem as $base-unit.
//
// @param number $x
//   Multiple of line height to be used or px/pt value to be converted.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in the same unit as the $font-size map.
@mixin padding-left($x, $context: $base-font-size) {
  @if $base-unit == rem {
    @if $rem-fallback == true {
      @if type-of($x) == 'number' and unitless($x) {
        padding-left: $x * $base-line-height;
      }
      @if type-of($x) == 'number' and not unitless($x) {
        padding-left: $x;
      }
    }
  }
  padding-left: line-height($x, $context);
}

// Define padding-right (with fallback).
// This is only necessary to use if you want to provide fallbacks when you are
// using rem as $base-unit.
//
// @param number $x
//   Multiple of line height to be used or px/pt value to be converted.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in the same unit as the $font-size map.
@mixin padding-right($x, $context: $base-font-size) {
  @if $base-unit == rem {
    @if $rem-fallback == true {
      @if type-of($x) == 'number' and unitless($x) {
        padding-right: $x * $base-line-height;
      }
      @if type-of($x) == 'number' and not unitless($x) {
        padding-right: $x;
      }
    }
  }
  padding-right: line-height($x, $context);
}
