// Define margin (with fallback).
// This is only necessary to use if you want to provide fallbacks when you are
// using rem as $base-unit.
//
// @param number|list $x
//   Multiple of line height to be used or px value to be converted.
//   Uses the same parameters as the CSS margin property:
//   i.e. top right bottom left, 1 0 2 0.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in px.
@mixin margin($list, $context: $base-font-size) {
  $allowed-types: "multiplier", "px", "list";
  $type: typey-validator($list, $allowed-types);

  $px-list: ();
  $converted-list: ();

  @each $x in $list {
    @if $base-unit == rem {
      $allowed-types: "multiplier", "px";
      $type: typey-validator($x, $allowed-types);
      @if $type == "multiplier" {
        $margin: $x * $base-line-height;
        $px-list: join($px-list, $margin, $separator: space);
      }
      @if $type == "px" {
        $px-list: join($px-list, $x, $separator: space);
      }
    }
    $margin: margin($x, $context);
    $converted-list: join($converted-list, $margin, $separator: space);
  }

  @if $base-unit == rem {
    @if $rem-fallback == true {
      margin: $px-list;
    }
  }
  margin: $converted-list;
}

// Define margin-top (with fallback).
// This is only necessary to use if you want to provide fallbacks when you are
// using rem as $base-unit.
//
// @param number $x
//   Multiple of line height to be used or px value to be converted.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in px.
@mixin margin-top($x, $context: $base-font-size) {
  $allowed-types: "multiplier", "px";
  $type: typey-validator($x, $allowed-types);
  @if $base-unit == rem {
    @if $rem-fallback == true {
      @if $type == "multiplier" {
        margin-top: $x * $base-line-height;
      }
      @if $type == "px" {
        margin-top: $x;
      }
    }
  }
  margin-top: margin($x, $context);
}

// Define margin-bottom (with fallback).
// This is only necessary to use if you want to provide fallbacks when you are
// using rem as $base-unit.
//
// @param number $x
//   Multiple of line height to be used or px value to be converted.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in px.
@mixin margin-bottom($x, $context: $base-font-size) {
  $allowed-types: "multiplier", "px";
  $type: typey-validator($x, $allowed-types);
  @if $base-unit == rem {
    @if $rem-fallback == true {
      @if $type == "multiplier" {
        margin-bottom: $x * $base-line-height;
      }
      @if $type == "px" {
        margin-bottom: $x;
      }
    }
  }
  margin-bottom: margin($x, $context);
}

// Define margin-left (with fallback).
// This is only necessary to use if you want to provide fallbacks when you are
// using rem as $base-unit.
//
// @param number $x
//   Multiple of line height to be used or px value to be converted.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in px.
@mixin margin-left($x, $context: $base-font-size) {
  $allowed-types: "multiplier", "px";
  $type: typey-validator($x, $allowed-types);
  @if $base-unit == rem {
    @if $rem-fallback == true {
      @if $type == "multiplier" {
        margin-left: $x * $base-line-height;
      }
      @if $type == "px" {
        margin-left: $x;
      }
    }
  }
  margin-left: margin($x, $context);
}

// Define margin-right (with fallback).
// This is only necessary to use if you want to provide fallbacks when you are
// using rem as $base-unit.
//
// @param number $x
//   Multiple of line height to be used or px value to be converted.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the elements/parents
//   font-size if it differs from $base-font-size. Specified as a t-shirt size or
//   value in px.
@mixin margin-right($x, $context: $base-font-size) {
  $allowed-types: "multiplier", "px";
  $type: typey-validator($x, $allowed-types);
  @if $base-unit == rem {
    @if $rem-fallback == true {
      @if $type == "multiplier" {
        margin-right: $x * $base-line-height;
      }
      @if $type == "px" {
        margin-right: $x;
      }
    }
  }
  margin-right: margin($x, $context);
}
