// Define a type layout (font-size and line-height).
//
// @param number|string $size
//   A size from the $font-size map or a px value.
// @param number $line-height
//   Multiple of line height to be used or px value to be converted.
// @param number|string $context
//   (optional) Only used if em is the $base-unit. The value of the
//   elements/parents font-size if it differs from $base-font-size.
//   Specified as a t-shirt size or value in px.
@mixin type-layout($size, $line-height: $base-line-height-ratio, $context: $size) {
  $allowed-types-size: "font-size", "px";
  $type-size: typey-validator($size, $allowed-types-size);

  $allowed-types-lh: "multiplier", "px";
  $type-lh: typey-validator($line-height, $allowed-types-lh);

  @if $base-unit == rem {
    @if $rem-fallback == true {
      @if $type-size == "font-size" {
        $map-size: map-get($font-size, $size);
        font-size: $map-size;
      }
      @if $type-size == "px" {
        font-size: $size;
      }
    }
    @if $rem-fallback {
      @if $type-lh == "multiplier" and $line-height-method == "rhythm" {
        line-height: $line-height * $base-line-height;
      }
      @if $type-lh == "px" {
        line-height: $line-height;
      }
    }
  }

  @if $base-unit == rem or $base-unit == px {
    font-size: font-size($size);
    line-height: line-height($line-height, $context);
  }

  @if $base-unit == em {
    @if $size == $context {
      font-size: font-size($size, $base-font-size);
      line-height: line-height($line-height, $size);
    }
    @else {
      font-size: font-size($size, $context);
      line-height: line-height($line-height, $size);
    }
  }

  @include typey-debug-grid($line-height, $context);
}
