// How to use Typey in a few lines of code...
// When...

// em is your base unit.
$base-unit: em;

// Set your base font-size and line-height.
$base-font-size: 16px;
$base-line-height: 24px;

// Build your font-size map.
$font-size: (
  s:  8px,
  m:  16px,
  l:  32px,
  xl: 64px,
);

// Import typey.
// Depending on your installation method (see README.md) this line will be
// slightly different.
@import "../../stylesheets/typey";

html {
  font-family: $sans-serif-stack;

  // Within the HTML element we can use media queries and a custom
  // define-type-sizing delaration to change the base font size for different
  // screen sizes.
  @include define-type-sizing(12px, 18px);

  @media screen and (min-width: 600px) {
    @include define-type-sizing(14px, 20px);
  }

  @media screen and (min-width: 800px) {
    @include define-type-sizing;
  }
}

h1 {
  // To be as verbose as possible within our stylesheets we can specify
  // font-size and line-height seperately.
  @include font-size(xl);

  // An em line-height is relative to the elements font-size. So we need to
  // specify the $context param. The simplest way to do this is just to use
  // the same font-size map key.
  @include line-height(3, xl);

  // In the same way as line-height above we need to specify the $context param.
  @include margin(0 0 1, xl);

  span {
    // ems are relative to their parent, so we need to use the $context param
    // to specify the parents font-size;
    @include font-size(m, xl);
    @include line-height(3, m);
  }
}

h2 {
  // Here we use the short cut type-layout mixin instead.
  // The type-layout mixin is smart enough to automatically use font-size param
  // as $context for the line-height it outputs.
  @include type-layout(l, 1.5);

  @include margin(0 0 1);

  span {
    // Now that we have a different parent font-size we will need to manually
    // specify a $context param.
    @include type-layout(m, 1.5, l);
  }
}

button {
  // This element uses a fairly obscure font-size that is only used once in
  // the project, so instead of specifying it in the font-size map we can just
  // add it manually.
  @include font-size(29px);

  // We will also need to add a $context param here to get the correct sizing.
  @include padding(0.5, 29px);
}

strong,
b {
  // Define a font weight.
  font-weight: weight(bold);
}
