// How to use Typey in a few lines of code...
// When...

// px is your base unit.
$base-unit: px;

// Set your base font-size and line-height.
$base-font-size: 16px;
$base-line-height: 24px;

// The automatic print sizing won't work as we don't have relative units.
$auto-print-sizing: false;

// Build your font-size map.
$font-size: (
  s:  8px,
  m:  16px,
  l:  32px,
  xl: 64px,
);

// Import typey.
// Depending on your installation method (see README.md) this line will be
// slightly different.
@import "../../stylesheets/typey";

html {
  font-family: $sans-serif-stack;

  // Unlike em and rem, px values aren't relative so we cannot dynamically
  // resize all fonts on the page by changing the html elements font-size. So
  // we will just include the base sizing normally here.
  @include define-type-sizing;
}

h1 {
  // To be as verbose as possible within our stylesheets we can specify
  // font-size and line-height seperately. As we are using px we don't really
  // need to use the mixins and can instead use the functions.
  font-size: font-size(xl);
  line-height: line-height(3);

  @include margin(0 0 1);
}

h2 {
  // Here we use the short cut type-layout mixin instead.
  @include type-layout(l, 1.5);

  @include margin(0 0 1);
}

button {
  // This element uses a fairly obscure font-size that is only used once in
  // the project, so instead of specifying it in the font-size map we can just
  // add it manually.
  font-size: 29px;

  @include padding(.5);
}

strong,
b {
  // Define a font weight.
  font-weight: weight(bold);
}
