

// Set defaults so they are easy to compute (in your head).
$base-font-size:           16px;
$base-line-height:         24px;

$line-height-method:       ratio;
$base-line-height-ratio:   1.5;

$font-size: (
  s: 12px,
  m: 16px,
  l: 24px,
  xl:36px
);

$typey-debug: true;
$typey-debug-color: #D9B29C;

@import "../../stylesheets/typey/font-stacks";

$typefaces: (
  serif: $serif-stack .1px,
  sans-serif: (
    font-family: $sans-serif-stack,
    letter-spacing: -.5px,
    weight: bold,
    case: uppercase
  )
);

$typestyles: (
  heading-1: (
    font-size: xl,
    line-height: 1.25
  ),
  heading-2: l 1.25 uppercase bold,
  heading-3: (
    font-size: m,
    case: lowercase
  )
);

@import "../../stylesheets/typey";

html {
  @include define-type-sizing;
  @include typeface(serif);
}

body {
  @include padding(1);
  background: #d5bfa3;
  color: #261420;
}

.container {
  @include padding(1);
  @include margin(0 auto 1);
  max-width: 1100px;
  background: #F2E2CE;
}

h1, h2, h3 {
  @include typeface(sans-serif);
  // Reset margins
  margin: 0;
}

p {
  // Reset margins
  margin: 0;
}

h1 {
  color: #A6263E;
}

h2, h3 {
  color: #0d7f70;
}

// Tests for rem
$base-unit: rem;
.rem {
  h1 {
    @include typeset(heading-1);
    @include margin-bottom(1);
  }

  h2 {
    @include typeset(heading-2);
    @include margin(2 0 1);
  }

  h3 {
    @include typeset(heading-3);
    @include margin(2 0 1);
  }

  p {
    @include margin-bottom(1);
    @include typey-debug-grid;
  }

  .intro {
    @include type-layout(18px, 1.5);
  }
}

// Tests for em
$base-unit: em;
.em {
  h1 {
    @include typeset(heading-1);
    @include margin(0 0 1, xl);
  }

  h2 {
    @include typeset(heading-2);
    @include margin(2 0 1, l);
  }

  h3 {
    @include typeset(heading-3);
    @include margin(2 0 1);
  }

  p {
    @include margin-bottom(1);
    @include typey-debug-grid;
  }

  .intro {
    @include type-layout(18px, 1.5);
    @include margin-bottom(1, 18px);
  }
}

// Tests for em
$base-unit: px;
.px {
  h1 {
    @include typeset(heading-1);
    @include margin-bottom(1);
  }

  h2 {
    @include typeset(heading-2);
    @include margin(2 0 1);
  }

  h3 {
    @include typeset(heading-3);
    @include margin(2 0 1);
  }

  p {
    @include margin-bottom(1);
    @include typey-debug-grid;
  }

  .intro {
    @include type-layout(18px, 1.5);
  }
}
