html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 75%;
  line-height: 18px;
  line-height: 1.5rem; }
  @media screen and (min-width: 600px) {
    html {
      font-size: 87.5%;
      line-height: 20px;
      line-height: 1.4285714286rem; } }
  @media screen and (min-width: 800px) {
    html {
      font-size: 100%;
      line-height: 24px;
      line-height: 1.5rem; } }

h1 {
  font-size: 64px;
  font-size: 4rem;
  line-height: 72px;
  line-height: 4.5rem;
  margin: 0px 0px 24px;
  margin: 0rem 0rem 1.5rem; }

h2 {
  font-size: 32px;
  line-height: 36px;
  font-size: 2rem;
  line-height: 2.25rem;
  margin: 0px 0px 24px;
  margin: 0rem 0rem 1.5rem; }

button {
  font-size: 29px;
  font-size: 1.8125rem;
  padding: 12px;
  padding: 0.75rem; }

strong,
b {
  font-weight: 700; }
