html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 75%;
  line-height: 1.25em;
}
@media print {
  html {
    font-size: 12pt;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 100%;
  }
}

h1 {
  font-size: 64px;
  font-size: 4rem;
}

h2 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5em;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  font-size: 1.375rem;
  line-height: 1.75rem;
}
h3 span {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25em;
}
h3 em {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
}

div {
  margin: 20px 0px;
  margin: 1.25rem 0rem;
  padding: 10px;
  padding: 0.625rem;
}

button {
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-right: 20px;
  margin-right: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  margin-left: 20px;
  margin-left: 1.25rem;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  padding-left: 20px;
  padding-left: 1.25rem;
}

article {
  padding: 12px 10px 15px 5px;
  padding: 0.75rem 0.625rem 0.9375rem 0.3125rem;
  margin: 20px 12px 40px 30px;
  margin: 1.25rem 0.75rem 2.5rem 1.875rem;
}

strong,
b {
  font-weight: 700;
}
